#jinja2:lstrip_blocks: True
## ********************************************************
##
## Project: nita-webapp
##
## Copyright (c) Juniper Networks, Inc., 2021. All rights reserved.
##
## Notice and Disclaimer: This code is licensed to you under the Apache 2.0 License (the "License"). You may not use this code except in compliance with the License. This code is not an official Juniper product. You can obtain a copy of the License at https://www.apache.org/licenses/LICENSE-2.0.html
##
## SPDX-License-Identifier: Apache-2.0
##
## Third-Party Code: This code may depend on other components under separate copyright notice and license terms. Your use of the source code for those components is subject to the terms and conditions of the respective license as noted in the Third-Party source code file.
##
## ********************************************************
*** Settings ***
Documentation     DC Connectivity Test cases

Resource	${EXECDIR}/resource_files/resources.txt
Resource	${JUNIPER_COMMON}/resource_files/connectivity_resources.txt
Resource	${JUNIPER_COMMON}/resource_files/device_resources.txt

Suite Setup	Device Open Connection	{{ inventory_hostname | replace("-", "_") }}
Suite Teardown	Device Close Connection	{{ inventory_hostname | replace("-", "_") }}

*** Variables ***

${output_directory}=	${CURDIR}
${path}=	${CURDIR}

*** Keywords ***

*** Test Cases ***

{% for interface in core_interfaces %}
T4.{{ inventory_hostname | replace("-", "_") }}.{{ interface.int }}: PING TEST {{ inventory_hostname | replace("-", "_") }} LINK {{ interface.desc }}
	[Documentation]	Objective: Check {{ inventory_hostname }} to {{ interface.desc }}
	[Tags]	CONNECTIVITY	{{ inventory_hostname }}	{{ interface.desc }}

{% if interface.ip | regex_search("\.1$") %}
	Ping Test From Device	{{ inventory_hostname | replace("-", "_") }}	{{ interface.ip | regex_replace("\.1$", ".2")}}
{% else %}
	Ping Test From Device	{{ inventory_hostname | replace("-", "_") }}	{{ interface.ip | regex_replace("\.2$", ".1")}}
{% endif %}


{% endfor %}
